.dropdown-container {
  width: 100%;
  color: black;
  position: relative;

  .label {
    color: var(--color-grey);
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .active {
    color: var(--color-primary);

    & + .dropdown {
      border-color: var(--color-primary);
    }
  }

  .group {
    margin-bottom: 2.5rem;
  }

  .dropdown {
    display: block;
    width: 100%;
    padding: 1.63rem;
    border-radius: 7px;
    outline: 0;
    border: 1px solid var(--color-grey);
  }

  .options {
    z-index: 5;
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 9.6rem;
    border-top: 0;
    border-radius: 0px 0px 7px 7px/0px 0px 7px 7px;
    box-shadow: var(--shadow-prop) var(--color-shadow-grey);
  }

  .show {
    display: block;
  }

  .option {
    display: block;
    width: 100%;
    padding: 1.63rem;
    border-radius: 7px;
    outline: 0;
    border: 1px solid transparent;
    transition: var(--transition-prop);

    &:hover {
      border: 1px solid var(--color-primary);
    }
  }
}
