.order-item {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-prop) var(--color-shadow-grey);
  margin-bottom: 1.5rem;
  display: flex;
  position: relative;

  .order-item-img {
    margin-right: 2rem;
    border-radius: 1rem;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
  }

  .content {
    display: block;
    p {
      max-width: max-content;
      margin-bottom: 1rem;
    }
  }
}
