$shadow-properties: 0 5px 10px 0px;

.btn {
  background-color: #fff;
  border-radius: 30px;
  border: 0;
  box-shadow: $shadow-properties var(--color-shadow-grey);
  display: block;
  font-weight: 600;
  margin-bottom: 2rem;
  outline: 0;
  text-transform: capitalize;
  transition: all 0.15s ease-in;
  width: 100%;
  cursor: pointer;

  &.large {
    width: 24.8rem;
    height: 5.5rem;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
  }

  &.medium {
    width: 13.5rem;
    height: 4.5rem;
  }

  &.small {
    width: 9.5rem;
    height: 4.3rem;
  }

  &:active {
    transform: scale(0.95);
  }
}

.btn-primary {
  background-color: var(--color-primary);
  box-shadow: $shadow-properties var(--color-shadow-primary);
  color: #fff;
}
