.split-screen {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  .side-bar {
    width: 50%;
    min-height: 100vh;
    padding: 3rem 2rem;
    box-shadow: 10px 0px 20px 0px rgba(204, 204, 204, 0.2);
    border-radius: 1rem;

    .user-detail {
      margin-bottom: 3rem;
      .user-img {
        width: 9rem;
        min-height: 9rem;
        border-radius: 100%;
        overflow: hidden;
      }

      .user-name {
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: capitalize;
        color: var(--color-text);
      }
      p {
        margin-bottom: 0.5rem;
      }
    }

    .nav-link {
      text-transform: capitalize;
      padding: 1rem 2rem;
      border-radius: 1rem;
      margin-bottom: 1rem;
      display: block;
      text-decoration: none;
      color: var(--color-text);

      &:hover,
      &:active {
        background-color: rgba(204, 204, 204, 0.2);
      }
    }

    .active {
      background-color: rgba(204, 204, 204, 0.2);
    }
    .logout-btn-container {
      position: absolute;
      width: 100%;
      left: 4rem;
      bottom: 8rem;
    }
  }

  .main-content {
    position: relative;
  }

  .content-half {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    box-shadow: 0px 0px 20px 1px rgba(204, 204, 204, 0.5);
    top: 50%;
    transform: scale(0.75) translateY(-70%);
    border-radius: 2.5rem;
    overflow: hidden;
  }

  .content-full {
    width: 100vw;
  }
}
