.split-screen {
  display: flex;
  overflow: hidden;

  .side-bar {
    width: 55%;
    min-height: 100vh;
    padding: 3rem 2rem;
    background-color: #fff;
    animation: slide_in 0.15s;

    .user-detail {
      margin-bottom: 3rem;
      text-align: center;

      .user-img {
        width: 9rem;
        min-height: 9rem;
        border-radius: 100%;
        overflow: hidden;
      }

      .user-name {
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: capitalize;
        color: var(--color-text);
      }
      p {
        margin-bottom: 0.5rem;
      }
    }

    .nav-link {
      text-transform: capitalize;
      padding: 1rem 2rem;
      border-radius: 1rem;
      margin-bottom: 1rem;
      display: block;
      text-decoration: none;
      color: var(--color-text);

      &:hover,
      &:active {
        background-color: rgba(204, 204, 204, 0.2);
      }
    }

    .active {
      background-color: rgba(204, 204, 204, 0.2);
    }

    .logout-btn-container {
      position: absolute;
      width: 100%;
      max-width: 200px;
      left: 12%;
      bottom: 4rem;
    }
  }

  .main-content {
    position: relative;
    background-color: rgba(204, 204, 204, 0.2);
    width: 100%;
  }

  .content-half {
    width: 100vw;
    min-height: 100vh;
    border-radius: 2.5rem;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: scale(0.75) translateY(-70%);
    animation: sidebar_on 0.15s;
  }

  .content-full {
    animation: sidebar_off 0.15s;
    background-color: #fff;
  }
}
